.wrapper{
    margin: 2rem auto;
}

.wrapper form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 90%;
    max-width: 50em;
    padding: .3em;
}

.wrapper h1{
    color: rgb(39, 39, 118);
}

.wrapper input{
    width: 90%;
    border:none;
    height: 2em;
}

.wrapper button{
    width: 7em;
    height: 3em;
    margin-top:.5em;
    background: linear-gradient(rgb(39, 39, 118),
    rgb(59, 59, 178));
    color: white;
    border: 1px solid rgb(39, 39, 118);
}